<html>

<head>
    <title>User</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>

<body>
    <h1>User: <%= ID %></h1>
    <h1>Querystring value: <%= queryString%></h1>
</body>

</html>